[submodule "Beezig"]
	path = Beezig
	url = https://gitlab.com/Beezig/Beezig.git
	branch = master
[submodule "BeezigForge"]
	path = BeezigForge
	url = https://gitlab.com/Beezig/BeezigForge.git
	branch = master
