gradlew
gradlew.bat
gradle/
.idea/
.gradle/
build/
*.iml
*.ipr
*.iws
options.txt
config/
crash-reports/
logs/
mods/
out/
run/
LabyMod/
resourcepacks/
saves/
server-resource-packs/
screenshots/
*.log
*.dat